* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/static/img/login_bg.jpeg");
    background-size: cover;
    background-repeat: repeat;
}


/* Navbar */
.aniChatLogo {
    width: 50px;
    /* display: inline-block; */
}

.navbar {
    padding: 0.5% 15%;
    opacity: .8;
}

.navbar-brand {
    font-size: 3rem;
}